.text-blinking {
  margin-left: 6px;
  font-weight: bolder;
  animation: blinking 0.5s alternate infinite;
}

.coffe-anim {
  animation: coffee 2s alternate infinite;
}

@keyframes blinking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes coffee {
  0% {
    transform: rotate(40deg);
  }

  30%,
  100% {
    transform: rotate(0)
  }
}

@media print {

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    height: initial !important;
    overflow: initial !important;
    print-color-adjust: exact;
  }

  .main-grid {
    border-radius: 0 !important;
    grid-template-columns: 0.5fr 1fr !important;
  }

  .download-pdf-btn {
    display: none !important;
  }

  .hobbies-grid,
  .skills-grid,
  .languages-grid {
    column-gap: 1.5rem;
  }
}
